# Ignore node_modules and dependencies
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/

# Ignore build artifacts
dist/
build/
.out/

# Ignore logs
logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor settings
.vscode/
.idea/
*.iml

# Ignore CSV files
*.csv